* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #444;
  position: relative;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  /* 20px is top and bottom, 40 is left and right */
  margin-bottom: 50px;
  /* Whenever we need to add vertical space 
      use either margin-top or bottom throughout 
      the whole site. Don't mix top & bottom
  */
  height: 80px;
}

nav {
  font-size: 18px;
}

nav a:link {
  /* background-color: rgb(206, 90, 13);
  margin: 20px;
  padding: 20px;
  display: block; */
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}

/* chaining pseudo classes */
nav a:link:last-child {
  margin-right: 0;
}

article {
  margin-bottom: 60px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-top: 5px solid #1098ad;
  padding: 50px 0;
  width: 500px;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}

h2::after {
  content: "TOP";
  background-color: #ffe70e;
  color: black;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 30px;

  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}
li {
  font-size: 18px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

.post-header {
  margin-bottom: 50px;
}
#copyright {
  font-size: 16px;
}

#author {
  font-style: italic;
  font-size: 18px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/* li:nth-child(2) {
  color: red;
} */

li:nth-child(even) {
  /* color: red; */
}

/* The p will actually need to be a first child for the style to apply, 
it just wont apply to the first <p> in <article>*/
article p:first-child {
  color: red;
}

/* Styling links */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: dodgerblue;
  font-weight: bold;
  text-decoration: underline dotted navy;
}

a:active {
  background-color: black;
  font-style: italic;
}
/* Always maintain this order --> link, visited,hover,active(LVHA) */

/* RESOLVING SELECTOR CONFLICT */
#copyright {
  color: red;
}

.copyright {
  color: yellow;
}

.text {
  color: rgb(98, 0, 255);
}

footer p {
  color: green;
}

.post-img {
  width: 800px;
  height: auto;
}

button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

/* pseudo elements */
h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

/* Adjacent sibling */
h3 + p::first-line {
}
